/*body {margin: 0;
      padding: 0;  
}*/

h1 {font-family: 'Lustria', serif;
        text-align: center;
        color:#fff1d0;
}
h2 {font-family: 'KoHo', sans-serif;}
h3 {font-family: 'KoHo', sans-serif;}
h4 {font-family: 'KoHo', sans-serif;}

article {font-family: 'Lato', sans-serif;}
        
.navbar { /*Oh snap I should comment. This is to make my home menu bar*/
        list-style-type: none;
        margin:0;
        padding: 0;
        overflow: hidden;
        background-color: #a25850;
        position: -webkit-sticky; /* This makes it work for Safari apprently?*/
        position: sticky;
        top:0;
        }


.navbar li{
        float: left;
}

.navbar li a { /*This is a class specifically for the li elements WITHIN the home bar. ONLY FOR THAT. I did it like this, 
        along with the navbarformat because I didn't want to set a global rule by just making it a plain ul, li rule like
        I did for the h1, articles and such because this would be what the deviation from what I want the lists to look like
        and not the norm. Make sense I think? I code tired because I like to make things hard.*/
        display: block;
        color: #fff1d0;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none; /*Yo at first I was like why do I need then when I saw it; its because the default for a hyperlink
        is to be underlined and blue, this overrides that.*/
}

.navbar li a:hover{
        background-color: #fff1d0;
        color:#a25850;
        }

.siteiconbackground {
      width: 150px;
      height: 150px;
      border-radius: 75px;
      background-color: white;
      box-shadow: 10px -10px #888888;
      z-index:10;
      color: white;
      position: absolute;
      top: 50px;
      right: 25%;
      
}
       
        
.headerbackground {  
      height:200px;
      background-color:#b7756e;               
      line-height:200px;
      width: 100%;
      margin: 0;
      padding: 0;
      z-index: 5;
                }   
